<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <globalization enableClientBasedCulture="true" />
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.php" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        <staticContent>
            <mimeMap fileExtension=".mkv" mimeType="video/x-msvideo" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
</configuration>