body{
	margin: 0px;
	background-image:url("../images/bg.jpg");
}
#login{
	margin-top: 100px;
	background-color: #222;
	border: 1px solid yellow;
	width: 500px;
	height: 300px;
	color: silver;
	visibility: hidden;
}
#login h1{
	color: #00FF00;
}
#txtName{
	width: 200px;
}
#dd{
	width: 50px;
}
#mm{
	width: 50px;
}
#yy{
	width: 90px;
}
#btnlogin{
	width: 210px;
}
#dashboard{
	width: 90%;
	max-width: 700px;
	min-width: 700px;
	text-align: left;
	border: 1px solid red;
	margin-top: 10px;
	/*background-color: rgba(0,0,0,0.8);*/
	background-image: url("../images/bg2.jpg");
	color: black;
	visibility: hidden;
	top: 10px;
}
#toolbar{
	background-color: rgba(0,0,0,0.8);
	padding: 5px;
	color: red;
	border-bottom: 1px solid black;
}
#toolbar a{
	text-decoration: none;
}
#content{
	padding: 5px;
}
.apps{
	margin-bottom: 5px;
	background-color: rgba(0,0,0,0.5);
	height: 200px;
	width: 343px;
	display: inline-table;
}
.apps img{
	width: 95px;
	height: 95px;
	margin: 3px;
	border: 1px dashed blue;
}
.apps big{
	font-size: 30px;
	color: red;
}
.apps span{
	color: silver;
}
.apps .btn{
	background:linear-gradient(#05EE88,green,#05EE88);
	padding: 3px 5px 3px 5px;
	margin: 5px 3px 3px 3px;
	border-radius: 5px;
	color: yellow;
	text-decoration: none;
}